body {
  background-color: lightgray;
  font-family: fantasy;
  font-size: 15px;
  color: black;
}

p {
  font-family: fantasy;
  font-size: 15px;
  color: black;
}

div {
  background-color: lightgray;
  font-family: fantasy;
  font-size: 15px;
  width: 300px;
  color: black;
}
